{% extends "base.html" %}

{% block content %}

<div class="mt-1 pt-0 pb-0">
    <h3>학생 과제물: {{ student.profile.student_idno }}&nbsp;{{ student.first_name }}</h3>
</div>
{% for post in posts %}
<div class="py-3">
    <h3 class="blue-text">{{post.parent_class}} - {{post.title}}</h3>
    <small class="mt-0 pt-0 pb-2">
        게시 시간: {{post.created_time}}
    </small>
    <button class="btn btn-block btn-info mt-3" onclick="window.open('{{post.hw_file.url}}','_blank')">
        다운로드
    </button>
</div>
{% endfor %}

{% endblock %}