{% extends "base.html" %}
{% load static %}

{% block title %}게시판 | 글쓰기{% endblock %}

{% block content %}

<h3>글쓰기</h3>
<form id="post-form" method="POST">
    {% csrf_token %}
    <input type="hidden" id="input-category" name="category" value="general">
    <div class="input-group mt-2 mb-2">
        <span class="input-group-addon"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></span>
        <input type="text" id="title" name="title" required="true" class="form-control" placeholder="제목">
    </div>
    <textarea name="content" id="editor-post" form="post-form" style="width: 300px;" rows="20" cols="80">
    </textarea>
    <button type="submit" class="btn btn-outline-success mt-2"><span class="fa fa-pencil"></span>&nbsp;&nbsp;글 작성</button>
</form>
{% endblock %}

{% block js_includes %}
    <script src="{% static 'ckeditor/ckeditor.js' %}"></script>
    <script src="{% static 'js/board_free_write.js' %}"></script>
{% endblock %}